.time {
  width: 60px;
  margin-top: 56px;
  background-color: #ffffff;

  &__item {
    position: relative;
    height: 61px;
    margin-right: 11px;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    color: #605e5c;

    span {
      position: absolute;
      right: 0;
      top: -10px;
      display: flex;
    }
  }
}
