.hour {
  width: 140px;
  height: 60px;
  display: flex;
  flex-direction: column;
  background-color: #fbf8f7;
  border: 1px solid #edeae9;
  border-top: none;

  &__half {
    height: 30px;
    width: 100%;
    position: relative;
    display: flex;

    &--top {
      border-bottom: 1px dotted #edeae9;
    }

    &:hover {
      background-color: #edf1fd;
    }
  }

  &__event {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgba(94, 163, 219, 0.952);
    color: 605e5c;
  }
}
